.container {
  background-color: black;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(64, 0.5fr);
  grid-template-rows: repeat(64, 0.5fr);
  gap: 1px;
  justify-content: center;
  width: 960px;
  height: 720px;
  margin: auto;
}

div {
  background-color: white;
  display: inline-block;
}

.hover {
  background-color: red;
}

.btn {
  height: 3rem;
  width: 10rem;
  margin: 1rem auto;
  display: block;
}
